@model Tuple<ProductViewModel, UserViewModel>
@{
    ViewData["Title"] = "AddCart";
}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a>Anasayfa</a></li>
                <li class="active">Sepet</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürün Görseli</td>
                        <td class="description">Ürün Adı</td>
                        <td class="price">Fiyat</td>
                        <td class="quantity">Adet</td>
                        <td class="total">Toplam Fiyat</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <img src="@Model.Item1.Image" alt="" height="200" width="250">
                        </td>
                        <td class="cart_description">
                            <h4>@Model.Item1.ProductName</h4>
                        </td>
                        <td class="cart_price">
                            <p>@Model.Item1.Price</p>
                        </td>
                        <td class="cart_price">
                            <p>1</p>
                        </td>
                        <td class="cart_price">
                            <p>@Model.Item1.Price</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> 
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="total_area">
                <ul>
                    <li>Toplam Tutar: <span>@Model.Item1.Price</span></li>
                </ul>
                <a class="btn btn-default update" href="">Sipariş Ver</a>
            </div>
        </div>
    </div>
</div>
<!--/
    foreach adamın idsine ait cartitemları getir.



    -->
